<footer class="footer">
    <div class="link float-right">
        <h4>Developed by
            <a href="">Aygul Malikova</a>
        </h4>
    </div>

</footer>

<script type="text/javascript" src="/public/javascripts/main.js"></script>
</body>