<header>
    <div class="logo float-left">
        <a href="/"><img src="/public/images/logo.png" alt=""></a>
    </div>

    <% if (nav) { %>
        <div class="hamburger float-right">
            <div id="nav-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    <%}%>

    <% if (authorized) {%>
    <div class="logout float-right">
    <a href="/logout"><img src="/public/images/logout2.svg" alt=""></a>
    </div>
    <%}%>

</header>