<% include partials/header.ejs%>


    <div class="container hero">
        <div class="row">
            <div class="col-lg-12">
                <div id="content">
                    <h1 class="stalem">StaLem Art</h1>
                    <hr>
                    <h3>Art Page of Amateur Artist</h3>
                </div>
            </div>
        </div>
    </div>

    <img src="/public/images/hero.jpg" class="bg"/>

    <div class="container nav-menu">
        <div class="nav navbar-nav">
            <ul class="menu">
                <a href="#portfolio"><li class="link">Portfolio</li></a>
                <hr>
                <a href="#about"><li class="link">About</li></a>
                <hr>
                <a href="#contact"><li class="link">Contact</li></a>
            </ul>
        </div>
        <div class="overlay"></div>
    </div>

    <div class="container portfolio" id="portfolio">
        <div class="inner">
                <div class="row item">
                    <div class="caption col-sm-6">
                        <a href=""><h2>Zdes' budet nazvanie razdela</h2></a>
                        <p>Show your images and video with old polaroid gallery style. Polaroid Gallery type gives you professional result and covers a wide range of features. Make your wordpress photo gallery awesome with polaroid effect!
                            The default version of WordPress allows you to add images to posts and pages, but this is rather limited — if you’re serious about attracting new clients, it just won’t cut it. If you’re claiming to be a creative individual, then you need a professional looking and original portfolio, right? Polaroid Gallery enables you to create incredible, stylish, responsive image grids from polaroid photos!
                        </p>
                    </div>
                    <div class="frame image col-sm-5 offset-sm-1">
                        <a href="">
                            <img src="/public/images/1.jpg" alt="">
                        </a>
                    </div>
                </div>
            <div class="divider">
                <img src="/public/images/divider.svg" alt="">
            </div>

                <div class="row item">
                    <div class="frame image col-sm-5">
                        <a href="">
                            <img src="/public/images/1.jpg" alt="">
                        </a>
                    </div>
                    <div class="caption col-sm-6 offset-sm-1">
                        <h2>Zdes' budet nazvanie razdela</h2>
                        <p>Show your images and video with old polaroid gallery style. Polaroid Gallery type gives you professional result and covers a wide range of features. Make your wordpress photo gallery awesome with polaroid effect!
                            The default version of WordPress allows you to add images to posts and pages, but this is rather limited — if you’re serious about attracting new clients, it just won’t cut it. If you’re claiming to be a creative individual, then you need a professional looking and original portfolio, right? Polaroid Gallery enables you to create incredible, stylish, responsive image grids from polaroid photos!
                        </p>
                    </div>
                </div>
        </div>
    </div>

    <div class="container info" id="about">
        <div class="inner">
            <div class="caption">
                <h1>About me</h1>
                <p>Dr Joanne Righetti is an animal behaviourist, educating the public and professionals in all aspects of the human–animal relationship. Her background is in zoology, with a PhD in animal behaviour and a counselling diploma – qualifications which enable her to work with all sorts of animals – including the human variety! Joanne likes to help pet owners understand their pet's behaviour and solve any pet behaviour problems. She also consults to a variety of organisations including non-profit organisations, commercial companies and councils and is involved in a variety of media including regular spots on radio. Joanne is an honorary associate of the Faculty of Veterinary Sciences, University of Sydney. Find out more about Joanne at </p>
            </div>
        </div>
    </div>

    <div class="container social" id="contact">
        <div class="inner">
            <div class="container icons">
                <img src="/public/images/vk.svg" alt="">
                <img src="/public/images/telegram.svg" alt="">

                <img src="/public/images/instagram.svg" alt="">
            </div>
        </div>
    </div>
<% include partials/footer.ejs%>