<% include partials/header.ejs%>

<img src="/public/images/hero.jpg" class="bg"/>
<div class="content">
    <div class="header">
        <div class="caption">
                <h1>Admin Panel</h1>
        </div>
    </div>

    <div class="container form">
        <div class="blur"></div>
            <div class="form">
                <form action="/login" method="POST" autocomplete="off">

                    <div class="group">
                        <input type="text" name="username" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Username</label>
                    </div>

                    <div class="group">
                        <input type="password" name="password" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Password</label>
                    </div>

                    <div class="form-group">
                        <button>Login</button>
                    </div>
                </form>
            </div>
    </div>
</div>



<% include partials/footer.ejs%>