.content.portfolio {
  min-height: calc(100vh - 140px); /* will cover the 100% of viewport */
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 0; /* height of your footer */
  background-color: rgba(0,0,0,0);

  .navbar-fixed-left{
    width: 200px;
    height: 400px;
    position: fixed;
    opacity: 1;
    left: 50px;
    top: 15%;


    .menu {
      display: flex;
      flex-direction: column;
      vertical-align: middle;
      text-align: center;
      padding: 20px;
      border-bottom: none;


      a.nav-link{
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 45px !important;
        text-decoration: none;
        list-style: none;
        letter-spacing: -1px;
        line-height: 60px;
        color: #ffffff;
        opacity: 1;
        transform: translateY(20px);
        border: none;
      }

      a.nav-link:hover {
        transition: color 0.5s;
        color: #f5f1a9;
        border: none;
      }

      a.nav-link.active{
        background-color: rgba(0,0,0,0);
        border: none;
        color: #f5f1a9;
      }
      //li.nav-item{
      //  font-weight: bold;
      //  font-size: 40px !important;
      //  text-decoration: none;
      //  list-style: none;
      //  letter-spacing: -1px;
      //  line-height: 50px;
      //  color: #ffffff;
      //  opacity: 1;
      //  transform: translateY(20px);
      //}

    }
  }
  .caption h1{
    top: 80px;
  }

  .container.slider {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 50px;
    top: 0;
    width: 70%;
    height: 80%;
    .carousel {
      position: relative;
      width: 100%;

      .carousel-indicators {
        top: 630px;
      }

      .carousel-inner {
        position: relative;
        margin: 0 auto;
        text-align: center;
      }

      .card {
        position: relative;
        width: 80%;
        height: 100%;
        margin: 40px auto 0 auto;
        background: #dddddd;

      }
    }

    .carousel-item {
      .img-thumbnail {
        width:  600px;
        height: 600px;
        background-position: 50% 50%;
        background-repeat:   no-repeat;
        background-size:     cover;

      }
    }
  }

}
