.content.portfolio {
  min-height: calc(100vh - 140px); /* will cover the 100% of viewport */
  overflow: initial !important;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 0; /* height of your footer */
  background-color: rgba(0,0,0,0);
  padding: 0 15px !important;
  margin-top: 50px;

  .row {
    width: 100%;
  }
  .navbar-fixed-left{
    top: 100px;
    margin-bottom: 100px;
    position: fixed;
    opacity: 1;

    .menu {
      display: flex;
      flex-direction: column;
      vertical-align: middle;
      text-align: center;
      padding: 20px;
      border-bottom: none;

      a{
        display: inline-block;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 45px !important;
        text-decoration: none;
        list-style: none;
        letter-spacing: -1px;
        line-height: 60px;
        color: #ffffff;
        opacity: 1;
        transform: translateY(20px);
        border: none;
      }

      a:hover {
        transition: color 0.5s;
        color: #f5f1a9;
        border: none;
      }

      a.active{
        background-color: rgba(0,0,0,0);
        border: none;
        color: #f5f1a9;
        pointer-events: none;
      }
    }
  }
  .caption h1{
    top: 80px;
  }

  .awSlider {
    max-width: 800px;
    margin: auto;
  }
    .carousel {
      position: relative;
      width: 100%;
      .carousel-control-next {
        height: 100%;
        max-height: 600px;
        z-index: 10;
      }
      .carousel-control-prev{
        height: 100%;
        max-height: 600px;
        z-index: 10;
      }
      .carousel-inner {
        position: relative;
        margin: 0 auto;
        text-align: center;
      }
      .carousel-item {
        height: auto;
        padding: 0;
        z-index: 1;
        position: relative;

        .carousel-caption {
          font-size: 30px;
          position: relative;
          right: 0;
          left: 0;
        }
      }
      .carousel-indicators {
        position: absolute;
        top: 570px;
        height: 0;
        z-index: 10;
      }
    }
  }
section.awSlider img {
  border: none;
  width: auto;
  max-height: 600px;
  background-position: 50% 50%;
  background: rgb(0,0,0);
  background-repeat:   no-repeat;
  background-size:     cover;
  pointer-events: none;

}

.comments {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2;
}


section.awSlider:hover > img{
  transform: scale(1.1);
  opacity:1;
}

section.awSlider img{
  pointer-events: none;
}

section.awSlider > img{
  border: none;
  position: absolute;
  top: 0;
  margin-left: 50%;
  height: 100%;
  width: auto;
  max-width: 100%;
  z-index: -1;
  transition:all .3s;
  filter: blur(1.8vw);
  transform: scale(1.03);
  opacity:.3;
}

.card {
  border: none;
}

.card.card-block {
  //margin-top: 50px;
  background: none;
  //background: rgb(0,0,0,0.6);

  .form {
    width: 100%;
  }
  .group.author{
    width: auto;
    flex-grow: 1;
    margin: 0 30px 0 5px;
    input {
      width: auto;
    }
    .highlight {
      width: auto;
    }
    .bar{
      width: auto;
    }
  }
  .group.comment{
    width: auto;
    flex-grow: 3;
    margin: 0 30px 0 5px;
    input {
      width: auto;
    }
    .highlight {
      width: auto;
    }
    .bar{
      width: auto;
    }
  }

  .group {
    margin: 0;
    textarea {
      overflow:hidden;
      background: rgba(0,0,0,0.3);
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      height: 40px;
      border: none;
      border-bottom: 1px solid #757575;
      color: #f5f1a9;
    }
    textarea:focus {
      outline: none;
    }
  }
  .form-group {
    margin: 30px 20px 30px auto;

    button {
      cursor: pointer;
      letter-spacing: 1px;
      background: rgba(0, 0, 0, 0.3);
      border: 2px solid rgba(179, 176, 122, 0.55);
      color: #f5f1a9;
      outline: none;
      padding: 0 30px;
      line-height: 44px;
      height: auto;
      border-radius: 30px;
      width: auto;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .comments-text {
    width: 100%;
    margin: 0;
    padding: 0 20px;
    color: #eeeeee;
    .name {
      left: 25px;
      font-weight: bold;
      font-size: 35px;
      line-height: 1;
    }
    .date {
      position: absolute;
      font-size: 20px;
      right: 25px;
    }
    .text {
      text-align: left;
      width: 60%;
      left: 25px;
      font-size: 20px;
      font-family: "Roboto", sans-serif;
    }
  }

}

hr {
  max-width: 100%;
  height: 1px;
  background: linear-gradient(to left, rgba(233, 233, 233, 0), rgba(233, 233, 233, 0.75), rgba(233, 233, 233, 0));

  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
.ver {
  min-height: 70px;
  max-height: 70%;
  min-width: 3px;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  background: linear-gradient(to top, rgba(233, 233, 233, 0), rgba(233, 233, 233, 0.75), rgba(233, 233, 233, 0));
}
.comment-block {
  display: flex;
  flex-direction: row;

}
.comments-text {
  flex-grow: 1;
}
.ver.left, .ver.right {
  flex-grow: 0;
  flex-basis: 3px;
}

.editSection {
  display: inline-block;
  width: 45px;
  margin-left: 30px;
  margin-bottom: 10px;
}